DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^index\.html$ index.php [L,R=301]
    RewriteRule ^about\.html$ about.php [L,R=301]
    RewriteRule ^menu\.html$ menu.php [L,R=301]
</IfModule>
